@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");


/*🔸 General */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.text_purple {
  color: #7342d6;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.row_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: clamp(30px, 5vw, 36px);
  color: #7342d6;
  margin-bottom: 12px;
  text-align: center;
}

h2 {
  font-size: 26px;
  margin-bottom: 24px;
  text-align: center;
}

/*🔸 Landing */

#landing {
  background-color: #7342d61a;
}

/*🔸 Nav */

nav {
  height: 80px;
  display: flex;
  margin-bottom: 20px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.nav_logo {
  width: 140px;
  margin-top: 14px;
}

.nav_links {
  display: flex;
}

.nav_links li a {
  color: #7342d6;
}

.nav_links li {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
  padding: 7px 16px;
  transition: all 300ms ease;
}

.nav_links li:nth-child(1):hover,
.nav_links li:nth-child(2):hover {
  transform: translateY(-2px);
}

.nav_links li:last-child {
  outline: solid #7342d6 3px;
  border-radius: 16px;
  margin-left: 16px;
}

.nav_links li:last-child:hover {
  text-decoration: none;
  background-color: #7342d6;
}

.nav_links li:last-child:hover a {
  color: white;
}

/*🔸 Modal Window */

.nav_button_menu {
  background-color: transparent;
  font-size: 2rem;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.nav_menu_backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
}

.js-when-button-been-clicked {
  max-height: 100vh;
  overflow-y: hidden;
}

.js-when-button-been-clicked .nav_menu_backdrop {
  visibility: visible;
}

.nav_button_menu_closed {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
  font-size: 2.4rem;
}

.nav_menu_backdrop ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_menu_backdrop li {
  padding: 32px 0;
}

.nav_menu_backdrop a {
  color: white;
  font-size: 26px;
}

/*🔸 Header */

.header_container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.header_description {
  margin-bottom: 10px;
}

header h2 {
  font-size: clamp(21px, 4vw, 24px);
  margin-bottom: 24px;
  text-align: center;
  color: hsl(261, 28%, 65%);
}

/*🔸 New Button */

.header__main_button a {
  color: #7342d6;
  font-weight: 700;
  font-size: 18px;
  transition: all 300ms ease-in-out;
}

.header__main_button a:active {
  color: #7342d6;
}

.header__main_button {
  display: block;
  margin: 0 auto;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0.9em 1.2em;
  border-radius: 0.9em;
  background: #f1ecfb;
  border: 1px solid #f1ecfb;
  box-shadow: 6px 6px 10px #d1d0d0, -6px -6px 10px #ffffff;
}

.header__main_button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.header__main_button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.header__main_button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #7342d6;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

@media (min-width: 768px) {

  .header__main_button:hover {
    color: #f1ecfb;
    border: 1px solid #7342d6;
  }
  
  .header__main_button:hover .header_container_button_a {
    color: white;
  }
  
  .header__main_button:hover:before {
    top: -35%;
    background-color: #7342d6;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .header__main_button:hover:after {
    top: -45%;
    background-color: #7342d6;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
}

/* --------------- */

.header_container figure {
  width: clamp(240px, 70vw, 380px);
  margin: 0 auto;
  z-index: 2;
  padding-bottom: 12vw;
}

/*🔸 Highlight */

#highlight {
  position: relative;
}

 #highlight:before {
  background: url(../assets/wave.svg);
  content: "";
  position: absolute;
  height: 12vw;
  top: 1px;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-100%);
}

#highlight:after {
  background: url(../assets/wave.svg);
  content: "";
  position: absolute;
  height: 12vw;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(100%) rotate(180deg);
}

.highlight_wrapper {
  display: flex;
  margin: 0 24px;
}

.highlight_wrapper_content {
  padding: 0 20px;
}

.highlight_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.highlight_image i {
  font-size: 32px;
  padding: 22px;
  border: solid 2.5px #f1ecfb;
  border-radius: 10px;
  display: inline;
  color: #7342d6;
  margin-bottom: 20px;
}

.highlight_image h3 {
  margin-bottom: 10px;
}

/*🔸 Features */

#features {
  background-color: rgba(115, 66, 214, 0.1);
  padding-top: 8vw;
}

.features_books {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
}

.features_book {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.features_book figure {
  overflow: hidden;
  display: flex;
  aspect-ratio: 1/1.5;
  margin-bottom: 20px;
  overflow: hidden;
}

.features_book img {
  height: 100%;
  transition: all 300ms ease;
}

.features_book img:hover {
  transform: scale(1.05);
}

.features_book_title {
  height: 36px;
  transition: all 300ms ease;
  font-size: 16px;
}

.features_book_title:hover {
  color: #7342d6;
  cursor: pointer;
}

.features_book_rating {
  color: #fabf2a;
  margin: 7px 0;
}

.features_book_price_before {
  text-decoration: line-through;
  opacity: 0.6;
  padding-right: 8px;
}

/*🔸 Best Selling */

.best_selling_books {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
}

.best_selling_book {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.best_selling_book:nth-child(1),
.best_selling_book:nth-child(2),
.best_selling_book:nth-child(3),
.best_selling_book:nth-child(4),
.best_selling_book:nth-child(5),
.best_selling_book:nth-child(6) {
  margin-bottom: 30px;
}

.best_selling_book figure {
  overflow: hidden;
  display: flex;
  aspect-ratio: 1/1.5;
  margin-bottom: 20px;
}

.best_selling_book img {
  height: 100%;
  transition: all 300ms ease;
}

.best_selling_book img:hover {
  transform: scale(1.05);
}

.best_selling_book_title {
  transition: all 300ms ease;
  height: 36px;
}

.best_selling_book_title:hover {
  color: #7342d6;
  cursor: pointer;
}

.best_selling_book_rating {
  color: #fabf2a;
  margin: 7px 0;
}

.best_selling_book_price_before {
  text-decoration: line-through;
  opacity: 0.6;
  padding-right: 8px;
}

/*🔸 Explore */

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

#explore button {
  background-color: #f1ecfb;
  font-size: 18px;
  font-weight: 700;
  color: #7342d6;
  padding: 7px 16px;
  border: none;
  outline: solid #7342d6 3px;
  border-radius: 16px;
  transition: background-color 300ms ease;
}

#explore button:hover {
  color: white;
  background-color: #7342d6;
}

/*🔸 Footer */

footer {
  background-color: #242424;
}

footer figure {
  width: 160px;
  filter: grayscale(1) invert(1);
  margin-bottom: 20px;
}

.footer_copyright {
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
}

.creator {
  color: white;
  font-size: 14px;
}

/*🔸 Media Queries: 768px */

@media (max-width: 768px) {
  .header_container {
    padding: 0 24px;
  }

  #highlight p {
    font-size: 16px;
  }

  .features_book {
    padding: 0 12px;
  }

  .features_book_title {
    height: 36px;
    font-size: 13.5px;
  }

  .features_book_rating {
    font-size: 13px;
  }

  .features_book_price {
    font-size: 14px;
  }

  .best_selling_book {
    padding: 0 12px;
  }

  .best_selling_book_title {
    height: 36px;
    font-size: 13.5px;
  }

  .best_selling_book_rating {
    font-size: 13px;
  }

  .best_selling_book_price {
    font-size: 14px;
  }

  #explore button:hover {
    color: #7342d6;
    background-color: inherit;
  }
}


/*🔸 Media Queries: 730px */

@media (max-width: 768px) {
  .highlight_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlight_image {
    margin-bottom: 30px;
  }
}

/*🔸 Media Queries: 550px */

@media (max-width: 550px) {
  .nav_links {
    display: none;
  }

  .nav_button_menu {
    display: block;
  }

  .features_book {
    width: 50%;
    padding: 0 20px;
  }

  .best_selling_book {
    width: 50%;
    padding: 0 20px;
  }

  .features_book:nth-child(1),
  .features_book:nth-child(2) {
    margin-bottom: 30px;
  }

  .features_book_title {
    height: 36px;
    font-size: 14px;
  }

  .features_book_rating {
    font-size: 14px;
  }

  .features_book_price {
    font-size: 14px;
  }

  .best_selling_book_title {
    height: 36px;
    font-size: 14px;
  }

  .best_selling_book_rating {
    font-size: 14px;
  }

  .best_selling_book_price {
    font-size: 14px;
  }

  footer figure {
    width: 140px;
  }
}

/*🔸 Media Queries: 440px */

@media (max-width: 400px) {
  nav {
    margin-bottom: 40px;
  }

  .header_description {
    margin-bottom: 10px;
  }

  #highlight h3 {
    font-size: 16px;
  }

  .features_book {
    width: 50%;
    padding: 0 12px;
  }

  .features_book_title {
    height: 36px;
    font-size: 14px;
  }

  .features_book_rating {
    font-size: 13px;
  }

  .features_book_price {
    font-size: 14px;
  }

  .best_selling_book {
    width: 50%;
    padding: 0 12px;
  }

  .best_selling_book_title {
    height: 36px;
    font-size: 14px;
  }

  .best_selling_book_rating {
    font-size: 13px;
  }

  .best_selling_book_price {
    font-size: 14px;
  }

  footer figure {
    width: 120px;
  }

  .nav_menu_backdrop a {
    color: white;
    font-size: 22px;
  }
}

